bin/
obj/
.vs/
src/VgAuto.MySql.Migration/db_backup_02_04_2022.sql
src/VgAuto.Http.Api/.local-chromium/
src/VgAuto.Http.Api/puppeteer/
src/pdf/
src/VgAuto.MySql.Migration/db_backup_*.sql
src/VgAuto.Http.Api/appsettings.Secrets.json
src/dist/
src/VgAuto.Http.Api/pdf/
