{
  "PdfDirectory": "/var/lib/vg-auto/pdf",
  "PuppeteerPath": "/opt/puppeteer",
  "JwtOptions": {
    "Secret": "[your-jwt-secret]",
    "ConsumerSecret": "[your-server-secret]"
  },
  "DbOptions": {
    "Provider": "PostgreSql",
    "Host": "localhost",
    "Port": 5432,
    "UserId": "vgauto",
    "Password": "[your-db-password]",
    "Name": "vgauto",
    "MultiTenancy": {
      "Enabled": true,
      "Suffix": {
        "Tenancy": "tenancy",
        "Template": "template"
      }
    }
  },
  "SmtpOptions": {
    "Host": "[smtp-host]",
    "Port": "[smtp-port]",
    "User": "[smtp-user]",
    "Password": "[smtp-password]"
  },
  "Cors": {
    "Mode": "restricted",
    "AllowedOrigins": [
      "https://[your-app-domain]"
    ]
  }
}
